
<!---MAIN TEMPLATE-->
<main class="clearfix contain" id="fadein-main">
    <div class="container">
        <div class="page-content">
                   
            <h1>The Value of Money</h1>                    
            <div class="article-1-contain clearfix">                        
                <div class="fig-img-contain"> 
                   <figure>
                        <img src="./img/money.png" alt="man by water"/>
                        <figcaption>quiet time by water</figcaption>
                    </figure>
                 </div>

                <div class="fig-text-contain">
                   <div class="article-1">
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati fuga dolores excepturi quisquam repudiandae quam possimus esse quas temporibus harum autem modi labore odio perspiciatis unde asperiores maxime, maiores earum commodi accusantium voluptate pariatur, ducimus reiciendis libero. Consequatur doloremque pariatur labore laudantium quia similique iste id ipsum quasi nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt porro est aspernatur quibusdam facere rem vitae, eligendi voluptatum impedit minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quae necessitatibus sunt, esse aliquam fugit cumque ratione sapiente doloribus laboriosam.</p>
                    </div>
                </div>
            </div>

            <div class="fig-text-contain article-2">
               <h1>GMO Food</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati fuga dolores excepturi quisquam repudiandae quam possimus esse quas temporibus harum autem modi labore odio perspiciatis unde asperiores maxime, maiores earum commodi accusantium voluptate pariatur, ducimus reiciendis libero. Consequatur doloremque pariatur labore laudantium quia similique iste id ipsum quasi nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, libero suscipit a facilis sunt at tenetur reiciendis recusandae. Eaque natus laudantium, maxime itaque voluptate rem nemo! Vitae autem illum sint voluptatem eum voluptatibus iste neque laborum, mollitia debitis optio cumque architecto nulla aspernatur exercitationem commodi facere tempora sapiente. Ad, quia.</p>
            </div>    

            <div class="fig-text-contain article-3">
                <h1>World View in 2100</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati fuga dolores excepturi quisquam repudiandae quam possimus esse quas temporibus harum autem modi labore odio perspiciatis unde asperiores maxime, maiores earum commodi accusantium voluptate pariatur, ducimus reiciendis libero. Consequatur doloremque pariatur labore laudantium quia similique iste id ipsum quasi nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ipsum repellat exercitationem architecto sequi nostrum quam, quos at explicabo ea, voluptate voluptas consectetur quod autem quas, numquam ex aliquam provident quasi, a tenetur dolorem. Iusto porro tenetur optio, sunt dolore maiores numquam molestias nostrum voluptate repudiandae similique, libero iure adipisci.</p>
            </div>

        </div>
    </div>
</main>